{% extends "base.html" %}
{% from 'pages/_macros.html' import min_to_hrs , format_phone_number, back_button%}
{% block content %}
<style>
  button:hover {
    box-shadow: 0 0 12px #00bcd4;
    transform: scale(1.05);
    transition: 0.3s ease;
  }
</style>


<body style="background-color:#1e1e1e; color:white; text-align:center; padding-top:100px;">
  <img src="/images/TimeDeck.png" alt="TimeDeck™" width="120">
    <div class="p-4 mb-4 text-center bg-dark text-light border border-secondary rounded splash ">
      <h1 class="display-5 fw-bold">Welcome to TimeDeck™<span style="font-size: 0.6em;"></span></h1>
      <p class="lead fst-italic"><span id="tagline"></span></p>
      <script>
        const text = "Hello";
        let i = 0;
        const speed = 80;
        function typeWriter() {
          if (i < text.length) {
            document.getElementById("tagline").textContent += text.charAt(i);
            i++;
            setTimeout(typeWriter, speed);
          }
        }
        typeWriter();
      </script>

      <hr class="my-4 text-light">
      <p class="mb-0">Lets track you annual Hours</p>
      <p class="mb-0"></p>
    </div>
  <button onclick="window.location.href='/calendar'" 
          style="padding:12px 24px; font-size:18px; background:#00bcd4; 
                 color:#fff; border:none; border-radius:6px; cursor:pointer; margin-top:30px;">
    🚀 Launch Dashboard
  </button>
</div>


<div class="card border-warning mt-4">
  <div class="card-header bg-warning text-dark fw-bold">
    <br>
    
  </div>
  <div class="card-body" id="centeredBox">
    <ul class="list-group" style="list-style: none; padding: 0;">
      <li class="list-group-item">✅ Record Count: </li>
      <li class="list-group-item">✅ Product Mode: </li>
      <li class="list-group-item">✅ Version:</li>
      <li class="list-group-item">✅ Config Loaded: </li>
     <!-- <li class="list-group-item">✅ Online Check: {{ "Online" if is_online else "Offline Mode" }}</li>-->
    </ul>
    
  </div>
</div>
<style>
  #centeredBox {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 360px;
    background-color: #130d0d;
    border: 2px solid #ffc107;
    padding: 20px;
    font-family: sans-serif;
    text-align: left; /* Align text left */
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    border-radius: 8px;
  }

  #centeredBox li {
    margin-bottom: 10px;
    font-size: 1.1em;
  }
</style>

<script>
  function printDiv() {
    const printContents = document.querySelector('.card-body').innerHTML;
    const originalContents = document.body.innerHTML;
    document.body.innerHTML = printContents;
    window.print();
    document.body.innerHTML = originalContents;
  }
</script>
</body>

{% endblock %}