<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  <title>TimeDeck</title>
  <link rel="stylesheet" href="/static/styles.css">
  <script src="/static/scripts/tailwindcss.js"></script>
  <link href="{{ url_for('static', path='css/tailwind.css') }}" rel="stylesheet">

</head>
<body class="bg-gray-50 text-gray-900" style="position: relative;">

  {% include 'layout/header.html' %}

  <main class="max-w-5xl mx-auto p-4">
    {% block content %}{% endblock %}
  </main>

  {% include 'layout/footer.html' %}

</body>
</html>